@import 'tailwindcss';
@import './styles/scrollbar.css';
@import './styles/fonts.css';

@theme {
  --color-*: initial;
  --color-background-default: #ffffff;
  --color-background-neutral: #f4f6f8;
  --color-common-black: #212121;
  --color-common-white: #ffffff;
  --color-components-divider: #919eab3d;
  --color-components-input-outlined: #919eab52;
  --color-components-input-underlined: #919eab8f;
  --color-components-paper-outlined: #919eab3d;
  --color-error-dark: #e82020;
  --color-error-darker: #8c1313;
  --color-error-light: #ff6c6c;
  --color-error-lighter: #ffbbbb;
  --color-error-main: #ff2323;
  --color-foundation-blue-dark: #f6f8f9;
  --color-foundation-blue-light: #fcfdfd;
  --color-foundation-blue-light: active: #f0f3f6;
  --color-foundation-blue-light: #f5f7f9;
  --color-foundation-blue-normal: #f9fafb;
  --color-foundation-blue-normal: active: #ebeef2;
  --color-foundation-blue-normal: #f2f4f7;
  --color-foundation-blue-white: #ffffff;
  --color-foundation-blue-white: active: #f5f7f9;
  --color-foundation-blue-white: #fcfdfd;
  --color-foundation-grey-grey-100: #b7b7b7;
  --color-foundation-grey-grey-200: #959595;
  --color-foundation-grey-grey-300: #646464;
  --color-foundation-grey-grey-400: #464646;
  --color-foundation-grey-grey-50: #e8e8e8;
  --color-foundation-grey-grey-500: #181818;
  --color-foundation-grey-grey-600: #161616;
  --color-foundation-grey-grey-700: #111111;
  --color-foundation-grey-grey-800: #0d0d0d;
  --color-foundation-grey-grey-900: #0a0a0a;
  --color-grey-grey-100: #dde1e5;
  --color-grey-grey-200: #ccd2d8;
  --color-grey-grey-300: #b5bec7;
  --color-grey-grey-400: #a7b1bc;
  --color-grey-grey-50: #f4f5f7;
  --color-grey-grey-500: #919eab;
  --color-grey-grey-600: #84909c;
  --color-grey-grey-700: #677079;
  --color-grey-grey-800: #50575e;
  --color-grey-grey-900: #3d4248;
  --color-interaction-dark: #214892;
  --color-interaction-darker: #193871;
  --color-interaction-light: #7398de;
  --color-interaction-lighter: #becff0;
  --color-interaction-main: #2e65ce;
  --color-interaction-secondary: #333333;
  --color-interaction-secondary-main: #565656;
  --color-primary-dark: #c62519;
  --color-primary-darker: #78170f;
  --color-primary-light: #e15449;
  --color-primary-lighter: #f4bdb9;
  --color-primary-main: #da291c;
  --color-success-dark: #31a373;
  --color-success-darker: #1e6245;
  --color-success-light: #a3dcc4;
  --color-success-lighter: #ebf7f2;
  --color-success-main: #5ec298;
  --color-text-disabled: #8e98a3;
  --color-text-primary: #212b36;
  --color-text-secondary: #637381;
  --color-transparent-black-12: #2121211f;
  --color-transparent-black-16: #21212129;
  --color-transparent-black-24: #2121213d;
  --color-transparent-black-32: #21212152;
  --color-transparent-black-48: #2121217a;
  --color-transparent-black-8: #21212114;
  --color-transparent-error-12: #ff23231f;
  --color-transparent-error-16: #ff232329;
  --color-transparent-error-24: #ff23233d;
  --color-transparent-error-32: #ff232352;
  --color-transparent-error-48: #ff23237a;
  --color-transparent-error-8: #ff232314;
  --color-transparent-grey-12: #919eab1f;
  --color-transparent-grey-16: #919eab29;
  --color-transparent-grey-24: #919eab3d;
  --color-transparent-grey-32: #919eab52;
  --color-transparent-grey-4: #919eab0a;
  --color-transparent-grey-48: #919eab7a;
  --color-transparent-grey-8: #919eab14;
  --color-transparent-interaction-12: #2e65ce1f;
  --color-transparent-interaction-16: #2e65ce29;
  --color-transparent-interaction-24: #2e65ce3d;
  --color-transparent-interaction-32: #2e65ce52;
  --color-transparent-interaction-4: #2e65ce0a;
  --color-transparent-interaction-48: #2e65ce7a;
  --color-transparent-interaction-8: #2e65ce14;
  --color-transparent-primary-12: #da291c1f;
  --color-transparent-primary-16: #da291c29;
  --color-transparent-primary-24: #da291c3d;
  --color-transparent-primary-32: #da291c52;
  --color-transparent-primary-48: #da291c7a;
  --color-transparent-primary-8: #da291c14;
  --color-transparent-success-12: #5ec2981f;
  --color-transparent-success-16: #5ec29829;
  --color-transparent-success-24: #5ec2983d;
  --color-transparent-success-32: #5ec29852;
  --color-transparent-success-48: #5ec2987a;
  --color-transparent-success-8: #5ec29814;
  --color-transparent-warning-12: #ffab001f;
  --color-transparent-warning-16: #ffab0029;
  --color-transparent-warning-24: #ffab003d;
  --color-transparent-warning-32: #ffab0052;
  --color-transparent-warning-48: #ffab007a;
  --color-transparent-warning-8: #ffab0014;
  --color-transparent-white-12: #ffffff1f;
  --color-transparent-white-16: #ffffff29;
  --color-transparent-white-24: #ffffff3d;
  --color-transparent-white-32: #ffffff52;
  --color-transparent-white-48: #ffffff7a;
  --color-transparent-white-8: #ffffff14;
  --color-warning-dark: #e89c00;
  --color-warning-darker: #8c5e00;
  --color-warning-light: #ffc754;
  --color-warning-lighter: #ffe5b0;
  --color-warning-main: #ffab00;
  --color-button-disabled: #dde2e7;
  --color-text-disabled: #8e98a3;
  --color-red: #EF4444;
  --color-green: #10B981;
  --color-blue: #3B82F6;
  --font-sfPro: 'SF Pro';
}
